Checks: >
  -*,
  clang-analyzer-*,
  bugprone-integer-division,
  bugprone-macro-parentheses,
  bugprone-sizeof-expression,
  bugprone-unused-return-value,
  bugprone-use-after-move,
  performance-move-const-arg,
  performance-no-automatic-move,
  performance-trivially-destructible,
  portability-simd-intrinsics,
  readability-duplicate-include,
  readability-redundant-*
WarningsAsErrors: '*'
HeaderFilterRegex: '^(include|src|tests|examples)/'
SystemHeaders: false
FormatStyle: file
